.list-users-constainer{
    .list-user-content{
        .child{
            width: 400px;
            margin: 0 auto;
            height: 50px;
            border: 1px solid gray;
            cursor: pointer;
        }
    }
}
